*.in
*.lo
*.o
*.log
*.trs
.deps
.libs
aclocal.m4
autom4te.cache
config.h
config.log
config.status
configure
gnuscripts
libtool
Makefile
src/lib/libs2kit.la
src/lib/s2kit.pc
stamp-h1
test/test_conv_semi_fly
test/test_conv_semi_memo
test/test_naive
test/test_s2_semi_fly
test/test_s2_semi_memo
test/test_s2_semi_memo_for
test/test_s2_semi_memo_inv
test/test_semi
